#london-wrapper, #windsor-wrapper{
    display: none;
    height: 500px;
}

body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.modal-content img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 1em auto; 
    border-radius: 3em;
    border: 5px solid lightblue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}
  

  
 
  
  